
.resume {
    padding: 1.0em;

    @include outer-container(100%);

    color: $color-txt;

    section {

        margin: 0.5em 0 2.5em 0;

        h2 {
            letter-spacing: 0.065em;
            text-transform: uppercase;
            color: $color-resume-navy;
            margin: 0 0 0.25em 55px;

            @include media($lg-mobile) {
                margin-left: 65px;
            }

            @include media($tablet-portrait) {
                margin-left: 70px;
            }
        }

        h3 {
            width: 83%;
            margin: 0.5em 0 0 40px;

            @include media ($lg-mobile) {
                margin-left: 50px;
            }

            @include media($tablet-portrait) {
                margin-left: 55px;
            }
        }

        p, li {
            width: 73%;
            margin: 1em 0 0 55px;

            @include media($lg-mobile) {
                margin-left: 65px;
            }

            @include media($tablet-portrait) {
                margin-left: 70px;
            }
        }

        .links a {
            fill: $color-resume-navy;
            color: $color-resume-navy;

            &:hover {
                fill: $color-contrast;
                color: $color-contrast;
            }
        }

        .link__icon {
            width: 15px;
            height: 15px;
            float: left;
            display: inline-block;

            @include media($lg-mobile) {
                width: 25px;
                height: 25px;
            }

            @include media($tablet-portrait) {
                width: 25px;
                height: 25px;
            }
        }

        .link-txt {
            margin-left: 20px;

            @include media($lg-mobile) {
                margin-left: 30px;
            }

            @include media($tablet-portrait) {
                margin-left: 30px;
            }
        }

        .section__icon {
            fill: $color-resume-navy;
            height: 40px;
            width: 40px;
            display: inline-block;
            float: left;

            @include media($lg-mobile) {
                height: 50px;
                width: 50px;
            }

            @include media($tablet-portrait) {
                height: 55px;
                width: 55px;
            }
        }

        .skill__icon {
            fill: $color-contrast;
            width: 15px;
            height: 15px;
            float: left;
            display: inline-block;

            @include media($lg-mobile) {
                width: 25px;
                height: 25px;
            }

            @include media($tablet-portrait) {
                width: 25px;
                height: 25px;
            }
        }

        .skill__text {
            margin-left: 20px;
            color: $color-contrast;

            @include media($lg-mobile) {
                margin-left: 30px;
            }

            @include media($tablet-portrait) {
                margin-left: 30px;
            }
        }


    }

}
