
$icon-size-sm: 15px;
$icon-size-lg: 24px;

.resume {
    color: $color-txt;
    fill: $color-txt;
    padding: 1.0em;

    @include outer-container(100%);

    @include media($tablet-portrait) {
        padding: 2em;
    }

    @include media($tablet-landscape) {
        @include span-columns(10);
        @include shift(1.5);
    }

    @include media($desktop) {
        @include span-columns(10);
        @include shift(1.5);
    }

    section {
        margin-top: 2em;
        margin-bottom: 0.5em;

        h2 {
            //border-bottom: 1px solid $color-resume-navy;
            letter-spacing: 0.125em;
            text-transform: uppercase;
            color: $color-resume-navy;
            margin-left: 55px;

            @include media($lg-mobile) {
                margin-left: 65px;
            }

            @include media($tablet-portrait) {
                margin-left: 70px;
            }

            @include media($tablet-landscape) {
                margin-left: 70px;
            }

            @include media($desktop) {
                margin-left: 70px;
            }
        }

        h3 {
            width: 83%;
            margin: 0.75em 0 0 40px;

            @include media ($lg-mobile) {
                margin-left: 50px;
            }

            @include media($tablet-portrait) {
                margin-left: 55px;
            }

            @include media($tablet-landscape) {
                margin-left: 0px;
            }

            @include media($desktop) {
                margin-left: 0px;
            }
        }

        p, li {
            width: 73%;
            margin: 0.9em 0 0 55px;

            @include media($lg-mobile) {
                margin-left: 65px;
            }

            @include media($tablet-portrait) {
                margin-left: 70px;
            }

            @include media($tablet-landscape) {
                width: 100%;
                margin-left: 0px;
            }

            @include media($desktop) {
                width: 100%;
                margin-left: 0px;
            }
        }
        p {
            //margin-top: 0.25em;
        }

        .link__icon {
            width: $icon-size-sm;
            height: $icon-size-sm;
            float: left;
            display: inline-block;

            @include media($lg-mobile) {
                width: $icon-size-lg;
                height: $icon-size-lg;
            }

            @include media($tablet-portrait) {
                width: $icon-size-lg;
                height: $icon-size-lg;
            }

            @include media($tablet-landscape) {
                width: $icon-size-lg;
                height: $icon-size-lg;
            }

            @include media($desktop) {
                width: $icon-size-lg;
                height: $icon-size-lg;
            }
        }

        .link-txt {
            margin-left: 20px;

            @include media($lg-mobile) {
                margin-left: 30px;
            }

            @include media($tablet-portrait) {
                margin-left: 30px;
            }

            @include media($tablet-landscape) {
                margin-left: 30px;
            }

            @include media($desktop) {
                margin-left: 30px;
            }
        }

        .section__icon {
            fill: $color-resume-navy;
            height: 40px;
            width: 40px;
            display: inline-block;
            float: left;

            @include media($lg-mobile) {
                height: 50px;
                width: 50px;
            }

            @include media($tablet-portrait) {
                height: 55px;
                width: 55px;
            }

            @include media($tablet-landscape) {
                height: 55px;
                width: 55px;
            }

            @include media($desktop) {
                height: 55px;
                width: 55px;
            }
        }

        .skill__icon {
            width: $icon-size-sm;
            height: $icon-size-sm;
            float: left;
            display: inline-block;

            @include media($lg-mobile) {
                width: $icon-size-lg;
                height: $icon-size-lg;
            }

            @include media($tablet-portrait) {
                width: $icon-size-lg;
                height: $icon-size-lg;
            }

            @include media($tablet-landscape) {
                width: $icon-size-lg;
                height: $icon-size-lg;
            }

            @include media($desktop) {
                width: $icon-size-lg;
                height: $icon-size-lg;
            }
        }

        .skill__text {
            margin-left: 20px;

            @include media($lg-mobile) {
                margin-left: 30px;
            }

            @include media($tablet-portrait) {
                margin-left: 30px;
            }

            @include media($tablet-landscape) {
                margin-left: 30px;
            }

            @include media($desktop) {
                margin-left: 30px;
            }
        }
    } // .section
} // .resume
