$skillsync-green: #96c950;
$skillsync-teal: #0b9375;
$skillsync-gray: #e2e2e3;


$clr-white: #fffcf9;
$clr-black: #000306;

$clr-bodybg: $skillsync-gray;
$clr-bodytxt: #303639;

//$clr-navbg: #101619;
$clr-navbg: $clr-black;
$clr-navbg-alt: #202020;
$clr-navtxt: darken($skillsync-gray, 5%);

$clr-link: $skillsync-teal;
$clr-link-over: lighten($skillsync-teal, 20%);

$clr-skill-pill-bg: rgba($clr-white, 0.5);
$clr-skill-pill-shadow: darken($clr-bodybg, 3%);
$clr-skill-pill-txt: lighten($clr-bodytxt, 20%);
