.pillbox {
    align-items: center;
    display: flex;
    text-rendering: optimizeLegibility;

    i {
        border-right: 1px solid $clr-link;
        padding-right: 0.5em;
        text-align: center;
        width: 32px;
    }

    span {
        flex: 1;
        padding-left: 0.5em;
    }
}

.links-list {
    @include outer-container();
}

.linkpill {
    @extend .pillbox;

    background: $clr-link;
    border-radius: 0.25em;
    box-shadow: 1px 1px 0 $clr-skill-pill-shadow;
    color: $clr-bodybg;
    float: left;
    margin: 0 0.5em 0.5em 0;
    padding: 0.25em 0.5em;

    &:hover {
        background: $clr-link-over;
        color: $clr-white;
    }

    i {
        border-right: 1px solid $clr-bodybg;
    }
}
