
body,
html {
    height: 100%;
}

body {
    background: $clr-bodybg;
    color: $clr-bodytxt;
}

a {
    color: $clr-link;
    text-decoration: none;

    &:hover {
        color: $clr-link-over;
    }
}
