.header {
    color: $color-resume-navy;
    //margin-bottom: 1.5em;


    h1 {
        padding: 0.5em 0.25em 0.05em 0.25em;
        text-align: center;
        letter-spacing: 0.075em;
    }

    hr {
        width: auto;
        margin: 2em 2em 0 2em;
        height: 1px;
        color: $color-resume-navy;
        background-color: $color-resume-navy;
        border: none;

        @include media($tablet-portrait) {
            margin-right: 3.0em;
            margin-left: 3.0em;
        }

        @include media($tablet-landscape) {
            margin-right: 3.0em;
            margin-left: 3.0em;
        }

        @include media($desktop) {
            margin-right: 3.0em;
            margin-left: 3.0em;
        }
    }
}

.header__title {
    color: $color-resume-navy;
    font-family: $heading-stack;
    font-size: modular-scale(1);
    letter-spacing: 0.125em;
    margin-bottom: 1.25em;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.social {
    text-align: center;

    ul {
        background: $color-light-grey;
        border: 1px solid $color-light-grey;
        border-radius: 0.35em;
        display: inline-block;
        padding: 0.25em;
        padding-bottom: 0.15em;
    }

    li {
        //border: 1px solid #f00;
        display: inline-block;
        height: 30px;
        margin: 0.15em 0.15em 0 0.15em;
        width: 30px;
    }

    svg {
        height: 20px;
        width: 20px;

        @include media($lg-mobile) {
            height: 25px;
            width: 25px;
        }

        @include media($tablet-portrait) {
            height: 25px;
            width: 25px;
        }

        @include media($tablet-landscape) {
            height: 25px;
            width: 25px;
        }

        @include media($desktop) {
            height: 25px;
            width: 25px;
        }
    }

}
