.header {
    color: $color-resume-navy;
    //margin-bottom: 1.5em;


    h1 {
        padding: 0.5em 0.25em;
        text-align: center;
        letter-spacing: 0.05em;

    }

    hr {
        width: auto;
        margin: 2em 2em 0 2em;
        height: 1px;
        color: $color-resume-navy;
        background-color: $color-resume-navy;
        border: none;
    }
}

.header__title {
    font-family: $heading-stack;
    font-size: modular-scale(1);
    width: 100%;
    text-align: center;
    margin-bottom: 1.5em;
    color: $color-resume-navy;

    @include media($lg-mobile) {
        font-size: modular-scale(2);
    }

    @include media($tablet-portrait) {
        font-size: modular-scale(2);
    }

    @include media($tablet-landscape) {
        font-size: modular-scale(2);
    }
}

.social {
    text-align: center;

    li {
        display: inline;
        margin: 0 0.5em;
    }

    a {
        fill: $color-resume-navy;

        &:hover {
            fill: $color-contrast;
        }
    }

    svg {
        height: 20px;
        width: 20px;

        @include media($lg-mobile) {
            height: 25px;
            width: 25px;
        }

        @include media($tablet-portrait) {
            height: 25px;
            width: 25px;
        }

        @include media($tablet-landscape) {
            height: 25px;
            width: 25px;
        }
    }

}
