.header {
    color: $color-resume-navy;
    margin-bottom: 1.5em;


    h1 {
        padding: 0.5em 0.25em;
        text-align: center;
        letter-spacing: 0.05em;

    }

    hr {
        width: auto;
        margin: 0 2em;
        height: 1px;
        color: $color-resume-navy;
        background-color: $color-resume-navy;
        border: none;
        margin-top: 1.5em;
    }
}

.header__title {
    font-family: $heading-stack;
    font-size: modular-scale(1);
    width: 100%;
    text-align: center;
    margin-bottom: 1.5em;
}

.social {
    text-align: center;

    li {
        display: inline;
        margin: 0.5em;
    }

    a {
        fill: $color-resume-navy;

        &:hover {
            fill: $color-resume-yellow;
        }
    }

    svg {
        height: 20px;
        width: 20px;
    }

}
