
.item {
    margin-bottom: 1.0em;

    .duration {
        margin-top: 0;
    }

    .links {

        a {
            color: $color-dark-teal;
            fill: $color-dark-teal;

            &:hover {
                color: $color-teal;
                fill: $color-teal;
            }
        }

        svg {
            height: 24px;
            width: 24px;
        }
    }
}
