.projects {
    .item {
        margin-top: 2em;
    }

    @include media($tablet-landscape) {
        @include span-columns(12);

        .item {
            @include span-columns(6);
            padding-right: 35px;
            margin-top: 0px;
        }
    }

    @include media($desktop) {
        @include span-columns(12);

        .item {
            @include span-columns(6);
            padding-right: 35px;
            margin-top: 0px;
        }
    }
}
