.projects {

    width: 85%;
    margin-left: 100px;

    .projects__description {
        width: 90%;
        margin-bottom: 1.25em;
    }

    .projects__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }


}
