
$unauth-max-width: 768px;

.unauth {
    height: 100%;
    padding: 2.0em 1.0em;
    text-align: center;

    @include outer-container(90%);

    @include media($tablet-portrait) {
        @include outer-container($unauth-max-width);
    }
    @include media ($tablet-landscape) {
        @include outer-container($unauth-max-width);
    }
    @include media ($desktop) {
        @include outer-container($unauth-max-width);
    }
}

.unauth__logo {

    margin-bottom: 1.5em;

    img {
        height: 72px;

        @include media($tablet-portrait) {
            height: 72px;
        }
        @include media ($tablet-landscape) {
            height: 128px;
        }
        @include media ($desktop) {
            height: 128px;
        }
    }
}

// see components/_contentbox.scss

// Modified Peeky Placeholders by Luke Reid
// http://codepen.io/lukeandrewreid/pen/OVPGXN
.form__unauth {
    label {
        position: relative;
        display: block;

        input {

            &::placeholder {
                transition: $forms-transition;
            }

            &:focus, &.populated {
                padding-top: 28px;

                &::placeholder {
                    color: transparent;
                }

                & + span {
                    opacity: 1;
                    top: 10px;
                }
            }
        }

        span {
            color: $color-txt-light;
            font-size: 12px;
            font-weight: bold;
            position: absolute;
            top: 0px;
            left: 1.0em;
            opacity: 0;
            transition: $forms-transition;
        }
    }
}
