<!DOCTYPE html>
<html lang="en">

<% include partials/head %>

<body>

    <% include partials/svg %>

    <!-- Header Box -->
    <header class="header">

        <div class="headshot"></div>

        <h1><%= account.name %></h1>

        <% include partials/social %>
    </header>
    <!-- /Header Box -->

    <div class="resume">

        <section class="skills">
            <h2>
                <span class="section__icon">
                    <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-list2"></use>
                    </svg>
                </span>
                Skills
            </h2>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>Front End Development</li>
                <li>Responsive Development</li>
                <li>Writing</li>
            </ul>
        </section>

        <section class="summary">
            <h2>
                <span class="section__icon">
                    <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-address-book"></use>
                    </svg>
                </span>
                Profile
            </h2>
            <p>
                I'm a self-taught web developer who prides herself on being
                able to focus not only on the details, but also on how they
                interact within a project as a whole. I am a creative thinker,
                a problem-solver, and I love nothing more than a good
                challenge.
                I'm a self-taught web developer who prides herself on being
                able to focus not only on the details, but also on how they
                interact within a project as a whole. I am a creative thinker,
                a problem-solver, and I love nothing more than a good
                challenge.
            </p>
        </section>

        <section class="projects">

            <h2>
                <span class="section__icon">
                    <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-embed2"></use>
                    </svg>
                </span>
                Projects
            </h2>

            <div class="item">
                <h3>The Edge of Uncertainty</h3>
                <p>
                    My blog where I post reviews of adventure books. Built using Bootstrap, Jekyll, and Github.
                </p>
                <ul class="skilllist">
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Responsive Development</li>
                </ul>
                <ul class="links">
                    <li>
                        <a href="https://github.com/k80bowman/Edge_Of_Uncertainty">
                            <svg class="link__icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-github"></use>
                            </svg>
                            <span class="link-txt">https://github.com/k80bowman/Edge_Of_Uncertainty</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://edgeofuncertainty.com/">
                            <svg class="link__icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-sphere"></use>
                            </svg>
                            <span class="link-txt">http://edgeofuncertainty.com/</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="item">
                <h3>SkillSync</h3>
                <p>
                    I collaborated on the design and building of the front end of this site using HTML, CSS, and Sass.
                </p>
                <ul class="skilllist">
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Responsive Development</li>
                </ul>
                <ul class="links">
                    <li>
                        <a href="https://github.com/k80bowman/Edge_Of_Uncertainty">
                            <svg class="link__icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-github"></use>
                            </svg>
                            <span class="link-txt">https://github.com/k80bowman/www.skillsync.io</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://skillsync.io/">
                            <svg class="link__icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-sphere"></use>
                            </svg>
                            <span class="link-txt">http://skillsync.io</span>
                        </a>
                    </li>
                </ul>
            </div>
        </section>

        <section class="work">
            <h2>
                <span class="section__icon">
                    <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-office"></use>
                    </svg>
                </span>
                Employment History
            </h2>
            <div class="item">
                <h3>Miami Valley Regional Planning Commission (MVRPC)</h3>
                <p>
                    March 2006 – August 2012 (6 years 6 months)
                </p>
                <p>
                    Project management, Statistical analysis of Census and other socioeconomic data,
                    Wrote and edited professional reports, Created promotional materials,
                    Managed other staff, Planned, arranged, and operated public meetings,
                    Maintained MVRPC's Resource Center
                </p>
                <ul class="links">
                    <li>
                        <a href="http://www.mvrpc.org">
                            <svg class="link__icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-sphere"></use>
                            </svg>
                            <span class="link-txt">http://www.mvrpc.org/</span>
                        </a>
                    </li>
                </ul>
            </div>
        </section>

        <section class="education">
            <h2>
                <span class="section__icon">
                    <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-books"></use>
                    </svg>
                </span>
                Education and Certifications
            </h2>
            <div class="item">
                <h3>Free Code Camp</h3>
                <p>
                    2015 – 2016
                </p>
                <p>
                    Full Stack Web Development, Computer Software Engineering
                </p>
            </div>
            <div class="item">
                <h3>University of Cincinnati</h3>
                <p>
                    2001 – 2003
                </p>
                <p>
                    Master's Degree, City/Urban, Community and Regional Planning
                </p>
            </div>
            <div class="item">
                <h3>Miami University</h3>
                <p>
                    1997 – 2001
                </p>
                <p>
                    Bachelor's Degree, Multi/Interdisciplinary Studies
                </p>
            </div>
        </section>
    </div><!-- resume -->

</body>

</html>
