<!DOCTYPE html>
<html lang="en">

<% include partials/head %>

<body>

    <% include partials/svg %>

    <!-- Header Box -->
    <header class="header">

        <div class="headshot"></div>

        <h1><%= account.name %></h1>

        <% include partials/social %>
    </header>
    <!-- /Header Box -->

    <div class="resume">

        <section class="skillSummary">
            <h2>Skills</h2>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>Front End Development</li>
                <li>Responsive Development</li>
                <li>Writing</li>
            </ul>
        </section>

        <section class="summary">
            <h2>Executive Summary</h2>
        </section>

        <section class="projects">
            <h2>Projects</h2>
        </section>

        <section class="work">
            <h2>Employment History</h2>
        </section>

        <section class="education">
            <h2>Education and Certifications</h2>
        </section>
    </div><!-- resume -->

</body>

</html>
