<!DOCTYPE html>
<html lang="en">

<% include partials/head %>

<body>

    <% include partials/svg %>

    <section class="navigation">
        <div class="nav__name nav__linkctr">
            <a href="">Michael Bowman</a>
        </div>

        <div class="nav__links nav__linkctr">
            <a href="">Introduction</a>
            <a href="">Top Skills</a>
            <a href="">Projects</a>
            <a href="">Contact</a>
        </div>

        <div class="nav__downloads nav__linkctr">
            <a href="">Resume</a>
        </div>

    </section>
    <!-- navigation -->

    <section class="header">
        <div class="profile-info">
            <h1>Katy Bowman</h1>
            <h2>Front-End Developer</h2>
            <div class="profile-info__location">
                Dayton, Ohio (open to remote)
            </div>
            <div class="profile-info__links">
                <ul>
                    <li>LinkedIn</li>
                    <li>GitHub</li>
                    <li>Twitter</li>
                    <li>Facebook</li>
                </ul>
            </div>
        </div>
    </section>


    <% include partials/footer %>
</body>

</html>
