<footer class="footer">

    <!-- Profile Links -->
    <section class="footer__nav-section">
        <h2>Michael Bowman</h2>
        <h3>Front End Web Developer</h3>
        <div class="footer__nav">
            <a href="">Top</a>
            <br />
            <a href="">Introduction</a>
            <br />
            <a href="">Top Skills</a>
            <br />
            <a href="">Projects</a>
            <br />
            <a href="">Contact</a>
        </div>
    </section>


    <!-- SkillSync and Social Links -->
    <section>
        <div class="footer__logo">
            <a href="http://skillsync.io" target="_blank">
                <img src="/images/SkillSync-Text-White.svg" alt="SkillSync" />
            </a>
        </div>

        <div class="footer__info">
            This profile was created with
            <a href="http://skillsync.io" target="_blank">SkillSync</a>,
            software designed from the ground up to help you land your
            dream job.
            Get your own awesome profile by
            <a href="http://skillsync.io" target="_blank">visiting our website</a>.
        </div>

        <div class="footer__links">

            <a href="http://twitter.com/skillsyncio" target="_blank">
                <div class="footer__link">
                    <i class="fa fa-twitter"></i>
                    <span>Twitter</span>
                </div>
            </a>

            <a href="http://skillsync.io" target="_blank">
                <div class="footer__link">
                    <i class="fa fa-facebook"></i>
                    <span>Facebook</span>
                </div>
            </a>
        </div>
    </section>


    <!-- Copyright Info -->
    <section>
        <div class="footer__info footer__ohio">
            <% include ohio-svg %>
            <p>
                SkillSync is a software startup proudly located in Dayton, Ohio.
            </p>
            <p class="footer__copyright">
                &copy; 2016 SkillSync
            </p>
        </div>
    </section>
</footer>
