<footer class="footer">
    <!-- SkillSync and Social Links -->
    <section>
        <div class="footer__logo">
            <a href="http://skillsync.io" target="_blank">
                <img src="/images/SkillSync-Text-White.svg" alt="SkillSync" />
            </a>
        </div>

        <div class="footer__info">
            This profile was created with
            <a href="http://skillsync.io" target="_blank">SkillSync</a>,
            software designed from the ground up to help you land your
            dream job.
            Get your own awesome profile by
            <a href="http://skillsync.io" target="_blank">visiting our website</a>.
        </div>

        <div class="footer__links">

            <a href="http://twitter.com/skillsyncio" target="_blank">
                <div class="footer__link">
                    <i class="fa fa-twitter"></i>
                    <span>Twitter</span>
                </div>
            </a>

            <br />

            <a href="http://skillsync.io" target="_blank">
                <div class="footer__link">
                    <i class="fa fa-facebook"></i>
                    <span>Facebook</span>
                </div>
            </a>
        </div>

        <div class="footer__info footer__ohio">
            <% include ohio-svg %>

            SkillSync is a software startup proudly located in Dayton, Ohio.
        </div>
    </section>

    <!-- Profile Links -->
    <section>
    </section>

    <!-- Copyright Info -->
    <section>

    </section>
</footer>
