
<!-- header start -->
<section class="header">

    <div class="profile-info">

        <h1>Michael Bowman</h1>

        <h2>Front-End Developer</h2>

        <hr />

        <div class="profile-info__location">
            Dayton, Ohio (open to remote)
        </div>

        <div class="profile-info__links">
            <a href="">
                <div class="profile-info__link">
                    <i class="fa fa-linkedin"></i>
                    <span>LinkedIn</span>
                </div>
            </a>
            <a href="">
                <div class="profile-info__link">
                    <i class="fa fa-github"></i>
                    <span>GitHub</span>
                </div>
            </a>
            <a href="">
                <div class="profile-info__link">
                    <i class="fa fa-twitter"></i>
                    <span>Twitter</span>
                </div>
            </a>
            <a href="">
                <div class="profile-info__link">
                    <i class="fa fa-facebook"></i>
                    <span>Facebook</span>
                </div>
            </a>
        </div>

    </div> <!-- profile-info -->

</section>
<!-- header end -->
