
<!-- header start -->
<section class="header">

    <div class="profile-info">

        <h1>Michael Bowman</h1>

        <h2>Front-End Developer</h2>

        <hr />

        <div class="profile-info__location">
            Dayton, Ohio (open to remote)
        </div>

        <div class="profile-info__links">
            <ul>
                <li><a href=""><i class="fa fa-linkedin"></i> | LinkedIn</a></li>
                <li><a href=""><i class="fa fa-github"></i> | GitHub</a></li>
                <li><a href=""><i class="fa fa-twitter"></i> | Twitter</a></li>
                <li><a href=""><i class="fa fa-facebook"></i> | Facebook</a></li>
            </ul>
        </div>

    </div> <!-- profile-info -->

</section>
<!-- header end -->
