<!-- navigation start -->
<section class="navigation">

    <div class="nav__name nav__linkctr">
        <a class="scroll__link" href="#top">Michael Bowman</a>
    </div>


    <div class="nav__links nav__linkctr">
        <a class="scroll__link" href="#profile-introduction">Introduction</a>
        <a class="scroll__link" href="#profile-skills">Top Skills</a>
        <a class="scroll__link" href="#profile-projects">Projects</a>
        <a class="scroll__link" href="#profile-contact">Contact</a>
    </div>


    <div class="nav__downloads nav__linkctr">
        <a href=""><i class="fa fa-cloud-download"></i> Resume</a>
    </div>

</section>
<!-- navigation end -->
