<!-- navigation start -->
<section class="navigation">

    <div class="nav__name nav__linkctr">
        <a href="">Michael Bowman</a>
    </div>


    <div class="nav__links nav__linkctr">
        <a href="">Introduction</a>
        <a href="">Top Skills</a>
        <a href="">Projects</a>
        <a href="">Contact</a>
    </div>


    <div class="nav__downloads nav__linkctr">
        <a href="">Resume</a>
    </div>

</section>
<!-- navigation end -->
