
<!-- header start -->
<section class="header">

    <div class="profile-info">

        <h1>Michael Bowman</h1>

        <h2>Front-End Developer</h2>

        <hr />

        <p class="profile-info__years">
            <strong>15</strong>
            years of relevant experience
        </p>

        <p class="profile-info__location">
            <strong>Dayton, Ohio</strong>
            (open to remote)
        </p>


        <div class="profile-info__skills">

            <section class="profile-info__skill-column">
                <div class="profile-info__skill">
                    <i class="devicon-javascript-plain"></i>
                    <span>JavaScript</span>
                </div>

                <br />

                <div class="profile-info__skill">
                    <i class="devicon-d3js-plain"></i>
                    <span>D3.js</span>
                </div>

                <br />

                <div class="profile-info__skill">
                    <i class="devicon-react-original"></i>
                    <span>React</span>
                </div>
            </section>

            <section class="profile-info__skill-column">

                <div class="profile-info__skill">
                    <i class="fa fa-globe"></i>
                    <span>Web Mapping</span>
                </div>

                <br />

                <div class="profile-info__skill">
                    <i class="devicon-nodejs-plain"></i>
                    <span>Node.js</span>
                </div>

                <br />

                <div class="profile-info__skill">
                    <i class="fa fa-graduation-cap"></i>
                    <span>Teaching</span>
                </div>
            </section>
        </div>

    </div> <!-- profile-info -->

</section>
<!-- header end -->
