
<!-- Profile Introduction -->
<section class="intro">

    <h2>Howdy!</h2>

    <p>
        I am an experienced software architect from Dayton, Ohio with a
        focus on web-based technologies, data visualization, and user
        interface design. Through my experiences as a defense contractor
        supporting the National Air and Space Intelligence Center (NASIC)
        and the National Geospatial-Intelligence Agency (NGA), I have led
        many large scale, technically challenging projects through design,
        development, and delivery. My experience in a wide variety of
        software technologies and agile development techniques have enabled
        me to excel both as a developer and as a team lead. In addition to
        my day job at Applied Information Sciences, I also teach Computer
        Science courses to evening students at Sinclair Community College,
        and am the lead organizer for the Dayton Data Visualization users
        group.
    </p>

</section>
