
<div class="social">
    <ul>
        <li class="email"><a href="mailto:foo@bar.com">
            <svg class="social__icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-mail"></use>
            </svg></a>
        </li>
        <li class="website"><a href="http://webslinger.io">
            <svg class="social__icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-sphere"></use>
            </svg></a>
        </li>
        <li class="github"><a href="http://github.com">
            <svg class="social__icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-github"></use>
            </svg></a>
        </li>
        <li class="linkedin"><a href="http://linkedin.com">
            <svg class="social__icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-linkedin"></use>
            </svg></a>
        </li>
        <li class="twitter"><a href="http://twitter.com">
            <svg class="social__icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-twitter"></use>
            </svg></a>
        </li>
    </ul>
</div>
