.contentbox {

    border-radius: 0.5em;
    box-shadow: 0 0 1.0em #333;
    padding: 1.5em 1.0em;

    @include linear-gradient(to bottom, $color-light-grey, darken($color-light-grey, 10%));

    h1 {
        border-bottom: 1px solid darken($color-light-grey, 10%);
        font-size: 2.5em;
        margin-bottom: 0.75em;
        text-align: left;
    }
}
.contentbox__form-buttons {
    margin: 1.5em auto;
}
.contentbox__form-errors {
    background: lighten($color-light-grey, 3%);
    border: 1px solid $color-contrast;
    border-radius: 0.25em;
    color: $color-contrast;
    margin: 1.0em 0;
    padding: 1.0em;
    text-align: left;

    li {
        margin-bottom: 0.5em;
    }
}
