
$nav-transition: all 0.3s;

.navigation {
    align-items: stretch;
    background: $clr-navbg;
    color: $clr-navtxt;
    display: flex;
    font-family: $font-heading;
    font-size: 0.80rem;
    letter-spacing: 0.035rem;

    .nav__name {
    }

    .nav__links {
        flex: 1;
    }

    .nav__downloads {
    }
}

.nav__name {
    display: flex;
    font-family: $font-body;
    font-weight: bold;
}

.nav__linkctr {
    align-items: stretch;
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    text-align: center;

    a {
        color: $clr-navtxt;
        padding: 1.25em 1.5em;
        text-decoration: none;
        text-shadow: 1px 1px 0 $clr-black;
        transition: $nav-transition;

        &:hover {
            background: $clr-navbg-alt;
            color: $clr-white;
        }
    }
}
