
.project {

    margin-bottom: 2.0em;

    h3 {
        margin: 0;
    }
}

.project__meta {
    color: $clr-project-meta;
    font-size: 0.8rem;
    font-style: italic;
}

.project__links {
    @extend .links-list;
}

.project__link {
    @extend .linkpill;
}
